Package: ru.danpashin.twackup
Name: Twackup
Version: CURRENT_PROJECT_VERSION
Description: Простая утилита для бекапа твиков.
Depends: dpkg, firmware (>= 8.0)
Priority: optional
Architecture: iphoneos-arm
Author: Даниил <admin@danpashin.ru>
Maintainer:  Даниил <admin@danpashin.ru>
dev: danpashin
Tag: purpose::console, compatible::ios8, compatible::ios9, compatible::ios10, compatible::ios11
Section: Utilities
Installed-size: PACKAGE_SIZE
Depiction: https://danpashin.ru/repo/depictions/?pack=ru.danpashin.twackup
